@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap"); */

:root {
  --background: #f7f9f9;
  --foreground: #242038;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-family: var(--font-jost);
  @apply text-sm lg:text-base;
}

.custom-container {
  @apply px-2 sm:px-4 max-w-[1320px] mx-auto;
}

h2 {
  @apply font-noto font-bold text-3xl md:text-4xl lg:text-5xl text-black md:leading-snug lg:leading-tight;
}

h3 {
  @apply font-noto font-semibold text-xl md:text-2xl lg:text-3xl;
}

.primary-btn span svg path,
.secondary-btn span svg path {
  transition: 0.3s;
}
.primary-btn:hover span svg path,
.secondary-btn:hover span svg path {
  fill: #f7f9f9;
}

/* todo */
.arrow-card path,
.category-name,
.ctegory-icon,
.mockup-name {
  transition: 0.3s;
}

.category-card:hover .arrow-card path,
.category-card:hover .category-name,
.mockup-card:hover .mockup-name {
  color: #6369d1;
  stroke: #6369d1;
}

.up-button:hover path,
.up-button:hover rect {
  stroke: #61e1e0;
}

.category-card:hover .category-icon {
  filter: invert(58%) sepia(56%) saturate(4534%) hue-rotate(214deg)
    brightness(83%) contrast(97%);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
